/* Estilos Globais */
/* Estilos Globais */

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    
}

.limitar-secao {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: rgb(7, 126, 116);
    
}

/* Estilos Globais */
/* Estilos Globais */

/* Topo da página */
/* Topo da página */

.container-topo {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(7, 126, 116);
}

.topo-logo img {
    width: 70px;
    left: 300px;
    top: 10px;
    position: relative;
}

.topo-logo div {
    position: absolute;
    bottom: 10px;
    top: 10px;
    left: 500px;
    font-size: 15px;
    color: #ffffff;
}

.topo-logo p {
    font-size: 15px;
    
}

.topo-links {
    position: absolute;
    top: 60px;
    right: 50px;
    
}

.topo-links a {
    position: relative;
    font-size: 25px;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: 600;
    color: #000000;
    bottom: 30px;
    right: 80px;
    
}

.topo-links a:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 50%;
}

/* Topo da página */
/* Topo da página */

/* Seção Banner */
/* Seção Banner */

.secao-banner {
    display: flex;
    
    max-width: 100%;
    height: 400px;
    
    background-color: rgb(7, 126, 116);
}

.banner-informacoes h2 {
    font-size: 30px;
    position: relative;
    left: 300px;
    top: 350px;
    background-image: url('/img/222.avif');
    background-size: 20px;
    width: 410px;
    padding: 1px;
    margin: 1px;
    border-radius: 30%;
    color: rgb(7, 126, 116);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


.imagem-perfil {
    position: absolute;
    max-width: 300px;
    width: auto;
    max-height: 300px;
    height: auto;
    border-radius: 50%;
    top: 170px;
    left: 350px;
}

.banner-informacoes p {
    position: relative;
    top: 100px;
    left: 800px;
    width: 100%;
    margin: auto;
    max-width: 1000px;
    
    text-align: left;
}

.negrito {
    font-weight: bold;
    font-size: 25px;
}

.normal {
    font-size: 20px;
}

.freud {
    font-size: 20px;
    font-weight: bold;
    color: antiquewhite;
}

/* Seção Banner */
/* Seção Banner */

/* Botão Whatsapp Flutuante */
/* Botão Whatsapp Flutuante */

.botão-whatsapp {
    position:fixed;

    width: 70px;
    height: 70px;

    bottom: 10px;
    right: 30px;
    
    border-radius: 50%;
    
    
    z-index:1000;
    
}

.botão-whatsapp img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

/* Botão Whatsapp Flutuante */
/* Botão Whatsapp Flutuante */

/* Botão Instagram Flutuante */
/* Botão Instagram Flutuante */

.botão-instagram {
    position:fixed;

    width: 70px;
    height: 70px;

    bottom: 70px;
    right: 30px;
    
    border-radius: 50%;
  
    z-index:1000;
}

.botão-instagram img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

/* Botão Instagram Flutuante */
/* Botão Instagram Flutuante */

/* Secao Informações */
/* Secao Informações */

.secao-informacoes {
    width: 100%;
    max-width: 100%;
    
    height: 650px;
    
    background-color: rgb(7, 126, 116);
}

.imagem-psicologo {
    max-width: 650px;
    height: 800px;
    border-radius: 50%;
    margin: 0 50px;
    position: relative;
    left: 100px;
    top: 200px;
}

.informacoes h3 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
    left: 1000px;
    bottom: 700px;

    background-image: url('/img/222.avif');
    background-size: 20px;
    width: 330px;
    text-align: center;
    padding: 1px;
    margin: 1px;
    border-radius: 30%;
    color: rgb(7, 126, 116);
    font-family: 'Times New Roman', Times, serif;
}

.informacoes p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    position: relative;

    max-width: 900px;
    max-height: 500px;
    bottom: 650px;
    left: 900px;
    

}


/* Secao Informações */
/* Secao Informações */

/* Seção Valores */
/* Seção Valores */

.secao-valores {
    width: 100%;
    max-width: 100%;
    margin: auto;
    
    display: relative;
    
    
    background-color: rgb(7, 126, 116);
}

.secao-valores h3 {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
    left: 500px;
    top: 180px;

    background-image: url('/img/222.avif');
    background-size: 20px;
    width: 1200px;
    height: 50px;
    text-align: center;
    padding: 1px;
    margin: 1px;
    border-radius: 30%;
    color: rgb(7, 126, 116);
    font-family: 'Times New Roman', Times, serif;

    
}

.ajuda1 {
    font-size: 20px;
    
    width: 300px;
    height: 150px;
    text-align: center;

    background-color: antiquewhite;
    border-radius: 50%;

    position: relative;
    left: 500px;
    top: 250px;

}


.ajuda1 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 40px;
}

.ajuda1 p {
    top: 10px;
    position: relative;
}


.ajuda2 {
    font-size: 20px;
    
    width: 300px;
    height: 150px;
    text-align: center;

    background-color: antiquewhite;
    border-radius: 50%;

    position: relative;
    left: 300px;
    top: 250px;

}

.ajuda2 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 40px;
}

.ajuda2 p {
    top: 10px;
    position: relative;
}


.ajuda3 {
    font-size: 20px;
    
    width: 300px;
    height: 150px;
    text-align: center;

    background-color: antiquewhite;
    border-radius: 50%;

    position: relative;
    left: 1000px;
    bottom: 50px;

}

.ajuda3 p {
    top: 10px;
    position: relative;
}

.ajuda3 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 40px;
}


.ajuda3 p {
    top: 10px;
    position: relative;
}


.ajuda4 {
    font-size: 20px;
    
    width: 300px;
    height: 150px;
    text-align: center;

    background-color: antiquewhite;
    border-radius: 50%;

    position: relative;
    left: 800px;
    bottom: 50px;

}

.ajuda4 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 40px;
}

.ajuda4 p {
    top: 10px;
    position: relative;
}


.ajuda5 {
    font-size: 20px;
    
    width: 300px;
    height: 150px;
    text-align: center;

    background-color: antiquewhite;
    border-radius: 50%;

    position: relative;
    left: 1300px;
    bottom: 200px;
    

}

.ajuda5 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 40px;
}

.ajuda5 p {
    top: 10px;
    position: relative;
}

.ajuda6 {
    font-size: 20px;
    
    width: 300px;
    height: 150px;
    text-align: center;

    background-color: antiquewhite;
    border-radius: 50%;

    position: relative;
    left: 1450px;
    bottom: 500px;
}

.ajuda6 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 40px;
}

.ajuda6 p {
    top: 10px;
    position: relative;
}

/* Seção Valores */
/* Seção Valores */

/* Seção Psicólogo */
/* Seção Psicólogo */

.secao-psicologo {
    
    width: 100%;
    max-width: auto;
    text-align: center;
    background-color: rgb(7, 126, 116);
    display: flex;
    
    
}

.sobre-sessoes h3{
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
    left: 500px;
    bottom: 200px;

    background-image: url('/img/222.avif');
    background-size: 20px;
    width: 1200px;
    height: 50px;
    text-align: center;
    padding: 1px;
    margin: 1px;
    border-radius: 30%;
    color: rgb(7, 126, 116);
    font-family: 'Times New Roman', Times, serif;
}

.card {
    cursor: pointer;
    position: relative;
    width: 2000px;
    height: 180px;
    background-color: antiquewhite;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    
    box-shadow: 0 0 0 5px rgb(5, 61, 57);
    transition: all 0.6s cubic-bezier(0.175, 0.85, 0.32, 1.275);
    right: 550px;
    bottom: 80px;

    padding: 10px;
    margin: 10px;
}

.card .imagem {
    width: 100%;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.85, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(7, 126, 116);
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(22, 124, 116);
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.85, 0.32, 1.275);
}

.card:hover .card-content {
    transform: rotateX(0deg);
}

.card-title {
    margin: 0;
    font-size: 15px;
    color:#000000;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
}

.card:hover .image {
    scale: 0;
}

.card-description {
    margin: 10px;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.4;
}


/* Seção Psicólogo */
/* Seção Psicólogo */

/* Especialidades */
/* Especialidades */

.especialidades {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    justify-items: center;
    background-color: rgb(7, 126, 116);
    display: flex;
    box-sizing: border-box;
}

.especialidades h3 {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
    left: 500px;
    bottom: 70px;

    background-image: url('/img/222.avif');
    background-size: 20px;
    width: 1200px;
    height: 50px;
    text-align: center;
    padding: 1px;
    margin: 1px;
    border-radius: 30%;
    color: rgb(7, 126, 116);
    font-family: 'Times New Roman', Times, serif;
}

.quadros-1 {
    position: relative;
    right: 620px;
    padding: 20px;
    top: 10px;
    cursor: pointer;
    
    width: 1800px;
    height: 450px;
    background-color: antiquewhite;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    box-shadow: 0 0 0 5px rgb(5, 61, 57);
   
}

.quadros-1 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    bottom: 2px;
}

.quadros-2 {
    position: relative;
    right: 600px;
    padding: 20px;
    top: 10px;
    cursor: pointer;
    
    width: 1500px;
    height: 450px;
    background-color: antiquewhite;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    box-shadow: 0 0 0 5px rgb(5, 61, 57);

}

.quadros-2 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    bottom: 0px;
}

.quadros-3 {
    position: relative;
    right: 580px;
    padding: 20px;
    top: 10px;
    cursor: pointer;
    
    width: 1500px;
    height: 450px;
    background-color: antiquewhite;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    box-shadow: 0 0 0 5px rgb(5, 61, 57);

}

.quadros-3 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    bottom: 5px;
}

.quadros-4 {
    position: relative;
    right: 540px;
    padding: 20px;
    top: 10px;
    cursor: pointer;
    
    width: 1500px;
    height: 450px;
    background-color: antiquewhite;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    
    box-shadow: 0 0 0 5px rgb(5, 61, 57);
    
}

.quadros-4 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 28px;
    bottom: 5px;
}

.quadros-5 {
    position: relative;
    right: 520px;
    padding: 20px;
    top: 10px;
    cursor: pointer;
    
    width: 1500px;
    height: 450px;
    background-color: antiquewhite;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    box-shadow: 0 0 0 5px rgb(5, 61, 57);

}

.quadros-5 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    bottom: 5px;
}

.quadros-6 {
    position: relative;
    right: 500px;
    padding: 20px;
    top: 10px;
    cursor: pointer;
    
    width: 1500px;
    height: 450px;
    background-color: antiquewhite;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    box-shadow: 0 0 0 5px rgb(5, 61, 57);


}

.quadros-6 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    bottom: 5px;
}

/* Especialidades */
/* Especialidades */

/* Atendimento */
/* Atendimento */

.atendimento {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(7, 126, 116);
}

.atendimento h3 {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
    left: 500px;
    bottom: 50px;

    background-image: url('/img/222.avif');
    background-size: 20px;
    width: 1200px;
    height: 50px;
    text-align: center;
    padding: 1px;
    margin: 1px;
    border-radius: 30%;
    color: rgb(7, 126, 116);
    font-family: 'Times New Roman', Times, serif;
}

.atendimento p {
    font-size: 20px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
    position: relative;

    max-width: 800px;
    bottom: 0px;
    left: 650px;
    

}

/* Atendimento */
/* Atendimento */

/* Copy */
/* Copy */

.Copy {
    text-align: center;
    background-color: rgb(7, 126, 116);
}

/* Copy */
/* Copy */

/* Media Queries */
/* Media Queries */

@media (max-width: 1280px) {
    .secao-banner {
        max-height: 500px;
        max-width: 800px;
    }
    .secao-informacoes p{
        max-width: 500px;
        max-height: 800px;
        right: 150px;
    }

    .secao-valores {
        
        right: 300px;
        position: relative;

    }

    .topo-links a {
        left: 1000px;
        
    }

    .card {
        left: 200px;
        
    }

    .especialidades {
        left: 400px;
        position: relative;

    }
    .especialidades h3 {
        left: 100px;
        position: relative;
    }

    iframe {
        width: 200px;
        height: 200px;
        position: relative;
        left: 500px;
    }

    .atendimento p {
        left: 500px;
        position: relative;
    }

    .Copy {
        left: 500px;
        position: relative;
    }


}

/* Media Queries */
/* Media Queries */