/* Estilos Globais */
/* Estilos Globais */



* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
}

.limitar-secao {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    background-image: linear-gradient(rgb(3, 124, 117), rgb(200, 209, 209));
    
}

/* Estilos Globais */
/* Estilos Globais */

/* Topo da página */
/* Topo da página */

.container-topo {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(7, 126, 116);
}

.topo-logo img {
    width: 70px;
    left: 300px;
    position: relative;
}

.topo-logo div {
    position: absolute;
    bottom: 10px;
    top: 10px;
    left: 500px;
    font-size: 15px;
    color: #ffffff;
}

.topo-logo p {
    font-size: 15px;
    
}

.topo-links {
    position: absolute;
    top: 60px;
    right: 0;
    
}

.topo-links a {
    position: relative;
    font-size: 25px;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: 600;
    color: #000000;
    bottom: 30px;
    right: 80px;
    
}

.topo-links a:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 50%;
}

/* Topo da página */
/* Topo da página */

/* Seção Banner */
/* Seção Banner */

.secao-banner {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 400px;
    
    background-image: linear-gradient(rgb(7, 126, 116), rgb(22, 148, 142));
}

.banner-informacoes h2 {
    font-size: 30px;
    position: relative;
    left: 300px;
    top: 350px;
    background-image: url('/img/222.avif');
    background-size: 20px;
    width: 410px;
    padding: 1px;
    margin: 1px;
    border-radius: 30%;
    color: rgb(7, 126, 116);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


.imagem-perfil {
    position: absolute;
    max-width: 300px;
    width: auto;
    max-height: 300px;
    height: auto;
    border-radius: 50%;
    top: 170px;
    left: 350px;
}

.banner-informacoes p {
    position: relative;
    top: 100px;
    left: 850px;
    width: 100%;
    margin: auto;
    
    text-align: left;
}

.negrito {
    font-weight: bold;
    font-size: 25px;
}

.normal {
    font-size: 20px;
}

.freud {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

/* Seção Banner */
/* Seção Banner */

/* Botão Whatsapp Flutuante */
/* Botão Whatsapp Flutuante */

.botão-whatsapp {
    position:fixed;

    width: 70px;
    height: 70px;

    bottom: 10px;
    right: 30px;
    
    border-radius: 50%;
    
    
    z-index:1000;
    
}

.botão-whatsapp img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

/* Botão Whatsapp Flutuante */
/* Botão Whatsapp Flutuante */

/* Botão Instagram Flutuante */
/* Botão Instagram Flutuante */

.botão-instagram {
    position:fixed;

    width: 70px;
    height: 70px;

    bottom: 70px;
    right: 30px;
    
    border-radius: 50%;
  
    z-index:1000;
}

.botão-instagram img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

/* Botão Instagram Flutuante */
/* Botão Instagram Flutuante */

/* Secao Informações */
/* Secao Informações */

.secao-informacoes {
    width: 100%;
    max-width: 100%;
    padding: 50px;
    height: 650px;
    
    background-image: linear-gradient(rgb(22, 148, 142), rgb(42, 145, 139));
}

.imagem-psicologo {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin: 0 50px;
    position: relative;
    left: 200px;
    top: 150px;
}

.informacoes h3 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
    left: 1000px;
    bottom: 480px;

    background-image: url('/img/222.avif');
    background-size: 20px;
    width: 330px;
    text-align: center;
    padding: 1px;
    margin: 1px;
    border-radius: 30%;
    color: rgb(7, 126, 116);
    font-family: 'Times New Roman', Times, serif;
}

.informacoes p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    position: relative;

    ;
    bottom: 450px;
    left: 1000px;
    width: 800px;

}


/* Secao Informações */
/* Secao Informações */

/* Seção Valores */
/* Seção Valores */

.secao-valores {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 20px 0;
    
    text-align: center;
    background-image: linear-gradient(rgb(42, 145, 139), rgb(65, 145, 141));
}

.secao-valores h3 {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
    left: 250px;
    top: 100px;

    background-image: url('/img/222.avif');
    background-size: 20px;
    width: 400px;
    text-align: center;
    padding: 1px;
    margin: 1px;
    border-radius: 30%;
    color: rgb(7, 126, 116);
    font-family: 'Times New Roman', Times, serif;
}

.ajuda1 {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    position: relative;
    left: 1000px;
    
    width: 300px;
    height: 60px;

    justify-items: left;
    text-align: center;

    background-color: antiquewhite;

}

.ajuda1:hover ::after {
    content: "Ansiedade tem cura!";
    background-color: rgb(42, 145, 139);
    color: #ffffff;
    
    
}

.ajuda2 {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    position: relative;
    left: 1000px;
    
    width: 300px;
    height: 60px;

    justify-items: left;
    text-align: center;

    background-color: antiquewhite;

}

.ajuda2:hover ::after {
    content: "Me chama no WhatsApp";
    text-decoration: dashed;
    background-color: rgb(42, 145, 139);
    color: #ffffff;
    
}

.ajuda3 {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    position: relative;
    left: 1000px;
    
    width: 300px;
    height: 60px;

    justify-items: left;
    text-align: center;

    background-color: antiquewhite;

}

.ajuda3:hover ::after {
    content: "Me chama no WhatsApp";
    text-decoration: dashed;
    background-color: rgb(42, 145, 139);
    color: #ffffff;
    
}

.ajuda4 {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    position: relative;
    left: 1000px;
    
    width: 300px;
    height: 60px;

    justify-items: left;
    text-align: center;

    background-color: antiquewhite;

}

.ajuda4:hover ::after {
    content: "Me chama no WhatsApp";
    text-decoration: dashed;
    background-color: rgb(42, 145, 139);
    color: #ffffff;
    
}

.ajuda5 {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    position: relative;
    left: 1000px;
    
    width: 300px;
    height: 60px;

    justify-items: left;
    text-align: center;

    background-color: antiquewhite;

}

.ajuda5:hover ::after {
    content: "Me chama no WhatsApp";
    text-decoration: dashed;
    background-color: rgb(42, 145, 139);
    color: #ffffff;
    
}

.ajuda6 {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    position: relative;
    left: 1000px;
    
    width: 300px;
    height: 60px;

    justify-items: left;
    text-align: center;

    background-color: antiquewhite;

}

.ajuda6:hover ::after {
    content: "Me chama no WhatsApp";
    text-decoration: dashed;
    background-color: rgb(42, 145, 139);
    color: #ffffff;
    
}

/* Seção Valores */
/* Seção Valores */

/* Seção Psicólogo */
/* Seção Psicólogo */

.secao-psicologo {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(rgb(65, 145, 141), rgb(85, 143, 140))
}

/* Seção Psicólogo */
/* Seção Psicólogo */

/* Especialidades */
/* Especialidades */

.especialidades {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(rgb(85, 143, 140), rgb(104, 141, 139))
}

/* Especialidades */
/* Especialidades */

/* Atendimento */
/* Atendimento */

.atendimento {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 50px 0;
    text-align: center;background: linear-gradient(rgb(104, 141, 139), rgb(166, 196, 194))
}

/* Atendimento */
/* Atendimento */

/* Contato */
/* Contato */

.contato {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(rgb(166, 196, 194), rgb(207, 207, 207))
}

/* Contato */
/* Contato */

/* Copy */
/* Copy */

.Copy {
    text-align: center;
    background-color: rgb(207, 207, 207);
}

/* Copy */
/* Copy */